<html>
<head>
		<meta charset="utf-8"/>
		<title>Error <%=err_nr%></title>
</head>
<body>
	
		<div style="position:relative; margin:0px; padding-left:30%;
					padding-top:100px;">
			<h1 style="padding-top:100px;">Error <%=err_nr%></h1>
			</div>
		<div style="position:relative; margin:0px; padding-left:40%;">
			<img src="/public/img/error.png" width="400px"></img>
			</div>		
		
</body>
</html>
