.t_totalmin{
		display:table-row;
		}
.t_totalmax{
		display:none;
		}	

#sc-blue{
		display:inline-block;
		color: blue;
		padding-left:50px;
}

#sc-red{
		display:inline-block;
		color: red;
}

@media (max-width:1720px) {
	.mpoint{
			display:none;
		}
	.t_totalmin{
			display:none;
		}
	.t_totalmax{
			display:table-row;
		}
}

